body{
    background-color: #f4f7fc !important;
}
.pageName{
    margin-left: 240px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
  }
.mainArea{
    margin-left: 260px; 
    padding-right: 70px;
    padding-left: 20px;
    padding-top: 30px;
  }
  .username{
    margin-left: 700px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: lighter;
  }