.review-image{
    border-radius: 50%;
}
.reviewer-name{
    font-size: 20px;
    font-weight: 600;
}
.designation{
    font-size: 16px;
    font-weight: 500;
}
.review{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}
.review-card{
    border: 2px solid#BFBFBF;
    border-radius: 4px;
    margin-bottom: 20px;
}