
.link{
    color: black;
}
.link:hover{
    text-decoration: none;
    color: black;
}
.servive-name{
    font-size: 20px;
    font-weight: 600;
}
.service-description{
    font-size: 16px;
    font-weight: 300;
}
.service-section-card:hover{
    transition: transform .2s; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}